html { 
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
  color:#722015;
  margin-left: 150px;
  margin-right: 150px;
}

/* nav bar */
#navbar {
  color: #722015;
  display: grid;
  grid-template-columns: auto auto;
  border-bottom: 1px solid black;
  margin-right: -75px;
  margin-left: -75px;
}

#navbar a {
  color: #722015;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  
}

#navbar a:hover {
  color: black;
}

#navbar-left {
  float: left;
}

#navbar-left a {
  padding-right: 32px;
}

#navbar-right {
  justify-self: end;
  padding-top: 20px;
}

#navbar-right a {
  padding-left: 32px;
  text-align: center;
}


/* homepage carousel - taken from w3 schools and modified*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 0px 16px 0px 16px;
  color: #722015;
  font-weight: bold;
  font-size: 48px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, change arrow color to black */
.prev:hover, .next:hover {
  color: rgba(0,0,0);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* homepage */
.shopAll .button {
  background-color: #722015;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  left: 40%;
  

}
#news {
  padding-top: 50px;
  /* padding: 3rem 13rem 3rem 13rem; */
}
#mallPic {
  float: left;
  padding: 0px 20px 0px 20px;
}

/* browsing page */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: #2196F3; */
  /* padding: 10px; */
  margin-left: 50px;
  margin-right: 50px;
}
.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  display: inline-block;
  padding: 30px;
  font-size: 30px;
  text-align: center;
}
#browseTitle {
  text-align: center;
}
.bunPic {
  width: 225px;
}
.bunTitle{
  font-size: 26px;
  text-align: left;
}
.bunDescription {
  font-size: 16px;
  text-align: left;
}
.shopDetail .button {
  background-color: #722015;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  /* margin: 4px 2px; */
  cursor: pointer;
  float: right;
  

}


/* detail page */
.productOptions .button {
  background-color: #722015;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: right;

}
.backBrowse .button {
  text-decoration: none;
  color: #722015;
}
.productDetail {
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
}
.productDetail img {
  float: left;
  padding-right: 50px;
}
